{
  "API": "",
  "CaseCode": false,
  "Dependencies": [
	{
		"URL":"https://github.com/the-carlisle-group/Abacus",
		"Version":"0.0.17"
	}

  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": false,
  "OnApplicationStartup": "",
  "OnBuild": "",
  "OnSave": "",
  "ProjectSpace": "#.tmt",
  "StartUp": "",
  "URL": "https://github.com/JoshDavid/tmanstoys",
  "Version": "0.0.0"
}
